.about_div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .tech_stack {
    text-align: center;
    // margin: 0;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
}

.tech {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  div {
    width: 80%;
    h1 {
      font-size: 1.5rem;

      color: rgb(26, 26, 26);
    }
    p {
      color: grey;
    }
  }
}
