nav {
  height: 10vh;
  background-color: rgb(219, 219, 219);
  padding: 0 2rem;

  @media only screen and (max-width: 600px) {
    padding: 0 1rem;
  }
  .nav-div {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media only screen and (max-width: 600px) {
      gap: 3rem;
    }

    .title-div {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        color: black;

        h1 {
          font-weight: light;
          margin: 0;
          font-size: 1.52rem;
          @media only screen and (max-width: 600px) {
            font-size: 1.4rem;
            font-weight: bolder;
            width: 100%;
            margin: 0;
          }
        }
      }
    }
    .pages-div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 5rem;
      gap: 5rem;
      @media only screen and (max-width: 600px) {
        padding-right: 0rem;
        justify-content: space-around;
        gap: 2rem;
      }
      a {
        text-decoration: none;
        color: black;
        .auth-h1 {
          margin: 0;
          font-weight: 500;

          font-size: 1.2rem;
        }
        img {
          width: 50px;
          height: 50px;
          object-fit: cover;
          border-radius: 50%;
        }
      }
    }
  }
}
