.signup_div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  flex-direction: column;

  .form_div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    form {
      padding: 2.5rem;
      border-radius: 5px;
      border: 1px solid black;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      .input_div {
        display: flex;
        flex-direction: column;
        label {
          font-size: 0.91rem;
        }

        .input-style {
          width: 250px;
          padding: 1rem;
          border-radius: 5px;
          border: none;
          background-color: rgb(233, 233, 233);
        }
      }
    }
  }
}

.button_div {
  button {
    background-color: #5eff00;
    border: 1px solid rgb(0, 197, 0);
    // border: none;
    padding: 1.2rem;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
  }
}

.bottom-text {
  display: flex;
  gap: 10px;
  p {
    margin: 0;
  }
  a {
    text-decoration: none;

    span {
      color: blue;
    }
  }
}
.pass_check {
  p {
    color: red;
    margin: 0;
  }
}
